{% extends "base.html" %}

{% load staticfiles %}

{% block bodyblock %}
    {% if edit_c %}
        <h1>Edit citizen</h1>
        <h5>Modify this citizen's details at your will</h5>
        <form action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ edit_c.as_p }}
            <input type="submit" name="submit" value="Confirm" />
            <a href="/citizens/" class="button">Cancel</a>
        </form>
    {% else %}
        <p>Something has gone wrong. Please, <a href="/">press here to go to the homepage.</a></p>
    {% endif %}
{% endblock %}