<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../../static/css/skeleton.css">
	</head>
	<body>
		<header>
			<div class="container" id="header">
				<div class="companyName">
					<a href="index_2.html">
					<img id="logo" src="../../static/images/logo.png" alt="Logo">
					DodgyBank
					</a>
				</div>
				<div class="navbar">
					<ul>
						<li>Home</li>
						<li>Message Board </li>
						<li>Sign In</li>
					</ul>
				</div>			
			</div>
		</header>
		<div class="safe">
			<img src="../../static/images/safe.jpg" alt="Our excellent practice">
		</div>

	</body>
</html>