{% extends "base.html" %}

{% load staticfiles %}

{% block bodyblock %}

    <div class="container content">
        {% if is_logged_in %}
            <a class="button" href="/messages/add-message/">Add a new message</a>
        {% endif %}
        {% if messages %}
            <table>
                <tr>
                    <th class="field1">Posted by</th>
                    <th class="field2">Title</th>
                    <th class="field3">Message</th>
                    <th class="field4">Date and time</th>
                </tr>
                {% for message in messages %}
                <tr>
                    <td>{{ message.poster }}</td>
                    <td>{{ message.title }}</td>
                    <td>{{ message.message }}</td>
                    <td>{{ message.time }}</td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <h3>Sorry, there are no messages!</h3>
        {% endif %}
    </div>
{% endblock %}