{% extends "base.html" %}

{% load staticfiles %}

{% block bodyblock %}

    <div class="container content">
        {% if messages %}
            <table>
                <tr>
                    <th>Posted by</th>
                    <th>Title</th>
                    <th>Message</th>
                    <th>Date and time</th>
                </tr>
                {% for message in messages %}
                <tr>
                    <td>{{ message.poster }}</td>
                    <td>{{ message.title }}</td>
                    <td>{{ message.message }}</td>
                    <td>{{ message.time }}</td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <h3>Sorry, there are no messages!</h3>
        {% endif %}
    </div>
{% endblock %}