{% extends "base.html" %}

{% load staticfiles %}

{% block bodyblock %}

    <div>
        {% if messages %}
            <table>
                <th>
                    <td>Posted by</td>
                    <td>Message</td>
                </th>
                {% for message in messages %}
                <tr>
                    <td>{{ message.poster }}</td>
                    <td>{{ message.message }}</td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <h3>Sorry, there are no messages!</h3>
        {% endif %}
    </div>
{% endblock %}