{% extends "base.html" %}

{% load staticfiles %}

{% block bodyblock %}

    <div class="container content">
        {% if is_logged_in %}
            <h2>People list</h2>
            <h5>See all your citizens and manage them at your will</h5>
            {% if citizens %}
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Balance</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    {% for citizen in citizens %}
                    <tr>
                        <td>{{ citizen.name }}</td>
                        <td>{{ citizen.surname }}</td>
                        <td>{{ citizen.Balance }}</td>
                        <td><a href="/citizens/{{ citizen.id }}/edit/">Edit</a></td>
                        <td><a href="/citizens/{{ citizen.id }}/delete/">Delete</a></td>
                    </tr>
                    {% endfor %}
                </table>
            {% else %}
                <h3>Sorry, there are no citizens!</h3>
            {% endif %}
        {% else %}
            <h2>You are not allowed to do this!</h2>
        {% endif %}
    </div>
{% endblock %}