<!DOCTYPE html>
{% extends "base.html" %}

{% load staticfiles %}

{% block bodyblock %}
<div class="content container">
    {% if user.is_authenticated %}
        <h1>Your profile info:</h1>
        <p><strong>Name: </strong> {{name}}</p>
        <p><strong>Surname: </strong> {{surname}}</p>
        <p><strong>Email: </strong> {{email}}</p>
        <br/>
        <strong>Thank you for being a DodgyBank customer. If not for many like you, we wouldn't be able to control Citadel!</strong>
    {% endif %}
</div>
{% endblock %}