<!DOCTYPE html>
{% extends "base.html" %}

{% block bodyblock %}
<div class="container content">
    <h1>Terms of Licence</h1>

        <h3>Please, carefully read the terms of licence before registering.</h3>
        <a href="/">Return to the homepage.</a>
            <br/>
            <p>Me, the (hopefully) human being or (maybe) bot using this application (hereinafter referred to as 'The User')
            hereby agrees to use this website only for the purposes intended, making a fair use of it and <strong>without trying to break the system at any time</strong>
            </p>
            <h4>To sum up... Please <strong>don't hack us too bad</strong></h4>
            <h5>Have fun</h5>
            <div class="full_button">
                <a href="/register/continue/" class="button">I agree to the terms of licence</a><a href="javascript:alert('I am surprised you even read the terms!');" class="button">I reject the terms of licence</a>
                </div>
</div>
{% endblock %}
