{% autoescape on %}
<!DOCTYPE html>
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'css/skeleton.css' %}">
<link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png" />
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Citadel</title>
</head>
<body>
{% block bodyblock %}{% endblock %}
<header>
	<div class="container" id="header">
		<div class="companyName">
			<a href="/">
				<img id="logo" src="/static/images/logo.png" alt="Logo">
				DodgyBank
			</a>
		</div>
		<div class="navbar">
			<ul>

				<li><a href="/">Home</a></li>
				<li><a href="/messages/">Message Board</a></li>
			{% if user.is_authenticated %}
				<li><a href="/citizens/">Manage citizens</a></li>
				<li><a href="/profile">Profile</a></li>
				<li><a href="/logout">Log Out</a></li>
			{% else %}
				<li><a href="/register">Register</a></li>
				<li><a href="/login">Sign In</a></li>
			{% endif %}
			</ul>
		</div>			
	</div>
</header>
<footer>
	<div class="container footer">Dodgy, insecure, slow - What a bank should be  |  &copy; Dodgybank 2016</div>
</footer>


</body>
</html>

{% endautoescape %}