<!DOCTYPE html>
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'css/skeleton.css' %}">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Citadel</title>
</head>
<body>
{% block bodyblock %}
<header>
	<div class="container" id="header">
		<div class="companyName">
			<a href="/">
				<img id="logo" src="static/images/logo.png" alt="Logo">
				DodgyBank
			</a>
		</div>
		<div class="navbar">
			<ul>
				<li>Home</li>
				<li>Message Board </li>
				<li>Sign In</li>
			</ul>
		</div>			
	</div>
</header>
<footer>
	loool
</footer>
{% endblock %}

</body>
</html>